<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/css/task.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Add Program</title>
</head>
<body layout:fragment="content">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<form action="#" th:action="@{/program/create}" th:object="${program}"
		method="post">
		<div class="program-container">
			<h3 style="text-align: center">Add a Program</h3>
			<br>
			<div class="title-container">
				<div class="inline center">
					<label>Name:</label> <input type="text" th:field="*{name}" />
				</div>
				<div class="inline center">
					<p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title
						Error</p>
				</div>
			</div>
			<br>
			<div style="float: right" class="inline">
				<button class="abetas-button" type="submit" name="cancel"
					formnovalidate="formnovalidate" value="cancel">Return</button>
			</div>
			<div class="inline">
				<button class="abetas-button" type="submit" name="submit" value="Submit">Submit</button>
			</div>
		</div>
	</form>
</body>
</html>