<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/css/home.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Change Password</title>
</head>
<body layout:fragment="content">
	<form action="#" th:action="@{/user/change/password}"
		th:object="${webUser}" method="post">
		<input type="hidden" th:field="*{email}" th:value="${email}"></input>
		<div class="pass-change-container">
			<h3 style="text-align: center">Change Password</h3>
			<br>
			<table>
				<tr>
					<td>New Password:</td>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td><input type="password" th:field="*{confPassword}" /></td>
				</tr>
			</table>
			<br>
			<div class="abetas-login-button" style="text-align: center;">
				<button class="login" type="submit">Submit</button>
			</div>
			<table>
				<tr>
					<td th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Password Error</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>