<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/manage.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Edit User</title>
</head>
<body layout:fragment="content">
	<form action="#" th:action="@{/user/edit}" th:object="${webUser}"
		method="post">
		<div class="user-details-container">
			<h3>User Summary</h3>
			<input type="hidden"
					th:field="*{email}" th:value="${email}" />
			<br>
			<div class="user-title">
				<h6>Email Address:</h6>
			</div>
			<p th:text="${webUser.email}" /></p>
			<div class="user-title">
				<h6>Role(s)</h6>
			</div>
			<label th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Role
				Error</label>
			<ul>
				<li th:each="aRole : ${roleTypes}"><input type="checkbox"
					th:field="*{roles}" th:value="${aRole}" /> <label
					th:for="${#ids.prev('roles')}" th:text="${aRole}">Default
						Role</label></li>
			</ul>
			<br>
			<div style="float: right" class="inline">
				<button class="abetas-button" type="submit" name="cancel"
					value="cancel">Return</button>
			</div>
			<div class="inline">
				<button class="abetas-button" type="submit" name="submit"
					value="Submit">Save Changes</button>
			</div>
		</div>
	</form>
</body>
</html>