<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/manage.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Manage Users</title>
</head>
<body layout:fragment="content">
	<br>
	<div class="container">
		<div class="options-container">
			<div class="option">
				<p>User List</p>
			</div>
			<div class="option">
				<form action="/register">
					<button class="user" type="submit">
						<span class="fas fa-plus"></span> Add a User
					</button>
				</form>
			</div>
		</div>
		<div class="table-container">
			<table>
				<tr>
					<th>Email</th>
					<th>Role</th>
					<th>Options</th>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.email}"></td>
					<td th:text="${user.roles}"></td>
					<td>
						<div class="option">
							<form action="/user/edit">
								<button class="user" name="email" th:value="${user.email}"
									type="submit">
									<span class="fa fa-edit"></span> Edit
								</button>
							</form>
						</div>
						<div class="option">
							<form action="/user/remove">
								<button class="user" name="email" th:value="${user.email}"
									type="submit">
									<span class="fas fa-minus"></span> Remove
								</button>
							</form>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>