<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/manage.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Register</title>
</head>
<body layout:fragment="content">
	<form action="#" th:action="@{/remove}" th:object="${user}"
		method="post">
		<div class="container">
		<h3>Selected User</h3>
		<br>
		<table>
			<tr>
				<td>Email Address:</td>
				<td th:text="${user.email}"></td>
			</tr>
			<tr>
				<td>Roles:</td>
				<td th:text="${user.roles}"></td>
			</tr>
		</table>
		<br>
		<div class="flex-parent jc-center">
			<button class="user" name="email" th:value = "${user.email}" type="submit">Remove User</button>
		</div>
		</div>
	</form>
</body>
</html>