<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/css/task.css" rel="stylesheet" />
<link href="/css/docs.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Complete Task</title>
</head>
<body layout:fragment="content">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<form action="#" th:action="@{/task/doc/complete}" method="post"
		th:object="${webDocument}" enctype="multipart/form-data">
		<div class="task-complete-equal">
			<div class="task-complete-row">
				<div class="task-complete-details-container cell">
					<h3>Task Details</h3>
					<div class="title">
						<div class="task-title-main">
							<div class="inline">
								<h6>Title:</h6>
							</div>
							<div class="inline">
								<h6 th:text="${task.title}">Title</h6>
							</div>
						</div>
						<div class="task-due">
							<div class="inline">
								<h6>Due:</h6>
							</div>
							<div class="inline">
								<h6 th:text="${task.getFormattedDueDate}">Due Date</h6>
							</div>
						</div>
					</div>
					<br>
					<div class="task-details">
						<div class="task-assignees">
							<div class="title">
								<h6>Assignee List</h6>
							</div>
							<div th:each="assignee : ${task.assignees}">
								<p th:text="${assignee.email}"></p>
							</div>
						</div>
						<div class="task-description">
							<div class="title">
								<h6>Description:</h6>
							</div>
							<p th:text="${task.description}"></p>
						</div>
					</div>
					<br>
					<div class="task-details">
						<div class="task-programs">
							<div class="title">
								<h6>Program(s)</h6>
							</div>
							<div th:each="program : ${task.programs}">
								<p th:text="${program.name}"></p>
							</div>
						</div>
						<div class="task-outcome">
							<div class="title">
								<h6>Student Outcome:</h6>
							</div>
							<div th:each="outcome : ${task.outcomes}">
								<p th:text="${outcome.name}"></p>
							</div>
						</div>
					</div>
					<div class="task-details">
						<div class="task-file">
							<div class="title">
								<h6>File(s):</h6>
							</div>
							<div th:if="${task.file ne null}">
								<p th:text="'Download file:'">Download file</p>
								<a th:href="@{/download/} + ${task.file.id}"
									th:text="${task.file.fileName}">file</a>
							</div>
							<div th:if="${task.file == null}">N/A</div>
						</div>
					</div>
				</div>
				<div class="separator cell"></div>
				<div class="task-submission-container cell">
					<h3>Submit Task</h3>
					<div class="title-container">
						<div class="inline center">
							<label>Submission Title:</label> 
							<input class="title-input" type="text"
								th:field="*{title}"/>
						</div>
						<div class="inline center">
							<p class="error" th:if="${#fields.hasErrors('title')}"
								th:errors="*{title}">Title Error</p>
						</div>
					</div>
					<br>
					<div class="doc-middle-container">
						<div class="doc-file-container">
							<div class="inline">
								<h5>File Upload</h5>
							</div>
							<div class="inline">
								<label class="error"
									th:if="${#fields.hasErrors('uploadedFile')}"
									th:errors="*{uploadedFile}">File Error</label>
							</div>
							<table>
								<tr>
									<td style="border-bottom: none"><input id="uploadFile"
										class="abetas-file-button" type="file" name="file" /></td>
								</tr>
								<tr>
									<td>
										<button class="abetas-button" type="submit" name="upload"
											th:value="${task.id}" formnovalidate="formnovalidate">Upload
											File</button>
										<button class="abetas-button" type="submit" name="upload"
											value="cancel" formnovalidate="formnovalidate">Cancel
											upload</button>
									</td>
								</tr>
								<tr>
									<td th:if="${uploadedFile ne null}">
										<div
											th:text="${'Submitted file: ' + uploadedFile.getFileName()}"></div>
									</td>
									<td th:if="${uploadedFile == null}">
										<div th:text="${'Submitted file: none'}"></div>
									</td>
								</tr>
							</table>
						</div>
						<div class="doc-tag-container">
							<h5>Tag(s):</h5>
							<label class="error" th:if="${#fields.hasErrors('tags')}"
								th:errors="*{tags}">Tag Error</label>
							<ul>
								<li th:each="tag : ${tags}"><input type="checkbox"
									th:field="*{tags}" th:value="${tag}" /> <label
									th:for="${#ids.prev('tags')}" th:text="${tag}">Default
										Tag</label></li>
							</ul>
						</div>
						<br> <br>
						<div class="doc-area-container">
							<div>
								<div class="inline">
									<h6>Description:</h6>
								</div>
								<div class="inline">
									<label class="error"
										th:if="${#fields.hasErrors('description')}"
										th:errors="*{description}">Description Error</label>
								</div>
							</div>
							<textarea placeholder="Enter description..."
								th:field="*{description}" rows="4" cols="50" maxlength="255">
           					Enter description...</textarea>
						</div>
					</div>
					<br>
					<div style="float: right" class="inline">
						<button class="abetas-button" type="submit" name="cancel"
							formnovalidate="formnovalidate" value="cancel">Return</button>
					</div>
					<div class="inline">
						<button class="abetas-button" type="submit" name="submit"
							value="submit">Submit</button>
					</div>
					<br>
				</div>
			</div>
			<!-- <div class="task-complete-row">
				<div class="task-submit-button cell" style="float: left">
					<button class="abetas-button" type="submit" name="cancel"
						value="cancel">Return</button>
				</div>
				<div class="separator cell"></div>
				<div class="task-submit-button cell" style="float: right">
					<button class="abetas-button" type="submit" name="submit"
						value="Submit">Submit Task</button>
				</div>
			</div> -->
		</div>
	</form>
</body>
</html>