<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/task.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Create Task</title>
</head>
<body layout:fragment="content">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<form action="#" th:action="@{/task/create}" th:object="${task}"
		method="post">
		<div class="container">
			<h3 style="text-align: center">Create a Task</h3>
			<br>
			<div class="inline">
				<table>
					<tr>
						<td>Coordinator Email:</td>
						<td><input type="email" th:field="*{coordinator}" /></td>
					</tr>
					<tr>
						<td>Title:</td>
						<td><input type="text" th:field="*{title}" /></td>
					</tr>
				</table>
			</div>
			<table>
				<thead>
					<tr>
						<th th:text="#{seedstarter.rows.head.rownum}">Row</th>
						<th th:text="#{seedstarter.rows.head.variety}">Variety</th>
						<th th:text="#{seedstarter.rows.head.seedsPerCell}">Seeds per
							cell</th>
						<th>
							<button type="submit" name="addRow"
								th:text="#{seedstarter.row.add}">Add row</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row,rowStat : *{rows}">
						<td th:text="${rowStat.count}">1</td>
						<td><select th:field="*{rows[__${rowStat.index}__].variety}">
								<option th:each="var : ${allVarieties}" th:value="${var.id}"
									th:text="${var.name}">Thymus Thymi</option>
						</select></td>
						<td><input type="text"
							th:field="*{rows[__${rowStat.index}__].seedsPerCell}" /></td>
						<td>
							<button type="submit" name="removeRow"
								th:value="${rowStat.index}" th:text="#{seedstarter.row.remove}">Remove
								row</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<div class="col">
					<a class="btn btn-primary" href="javascript:void(0)"
						id="addAssignee" onclick="add()"> Add </a><br>
				</div>
			</div>
			<div class="inline">
				<div>
					<h5>Program(s)</h5>
					<label th:if="${#fields.hasErrors('programs')}"
						th:errors="*{programs}">Program Error</label>
					<ul>
						<li th:each="aProg : ${progTypes}"><input type="checkbox"
							th:field="*{programs}" th:value="${aProg}" /> <label
							th:for="${#ids.prev('programs')}" th:text="${aProg}">Default
								Program</label></li>
					</ul>
				</div>
			</div>
			<br>
			<div class="area-container">
				<p>Program Outcome:</p>
				<textarea placeholder="Enter program outcome..."
					th:field="*{outcome}" rows="4" cols="50" maxlength="255">
           					Enter Program Outcome...</textarea>
				<p>Task Description:</p>
				<textarea placeholder="Enter description..."
					th:field="*{description}" rows="4" cols="50" maxlength="255">
           					Enter Program Outcome...</textarea>
			</div>
			<br>
			<table>
				<tr>
					<td th:if="${#fields.hasErrors('coordinator')}"
						th:errors="*{coordinator}">Email Error</td>
				</tr>
			</table>
			<div style="float: right" class="inline">
				<button class="task" type="submit" name="cancel" value="cancel">Return</button>
			</div>
			<div class="inline">
				<button class="task" type="submit" name="submit" value="Submit">Submit</button>
			</div>
		</div>
	</form>
</body>
</html>