<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/css/task.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Delete Task</title>
</head>
<body layout:fragment="content">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<form action="#" th:action="@{/task/delete}" method="post">
		<div class="task-details-container">
			<h3>Task Details</h3>
			<div class="task-title">
				<div class="inline">
					<h6>Title:</h6>
				</div>
				<div class="inline">
					<h6 th:text="${task.title}">Title</h6>
				</div>
			</div>
			<br>
			<div class="task-details">
				<div class="task-assignees">
					<div class="task-title">
						<h6>Assignee List</h6>
					</div>
					<div th:each="assignee : *{task.assignees}">
						<p th:text="${assignee}"></p>
					</div>
				</div>
				<div class="task-description">
					<div class="task-title">
						<h6>Description:</h6>
					</div>
					<p th:text="${task.description}"></p>
				</div>
			</div>
			<br>
			<div class="task-details">
				<div class="task-programs">
					<div class="task-title">
						<h6>Program(s)</h6>
					</div>
					<div th:each="program : *{task.programs}">
						<p th:text="${program.name}"></p>
					</div>
				</div>
				<div class="task-outcome">
					<div class="task-title">
						<h6>Student Outcome:</h6>
					</div>
					<div th:each="outcome : *{task.outcomes}">
						<p th:text="${outcome.name}"></p>
					</div>
				</div>
			</div>
			<div class="task-details">
				<div class="task-file">
					<div class="task-title">
						<h6>File(s):</h6>
					</div>
					<p th:text="'Download file:'">Download file</p>
					<a th:href="@{/download/} + ${task.file.id}"
						th:text="${task.file.fileName}">file</a>
				</div>
			</div>
			<br>
			<div style="float: right" class="inline">
				<button class="abetas-button" type="submit" name="cancel"
					value="cancel">Return</button>
			</div>
			<div class="inline">
				<button class="abetas-button" name="id" th:value="${task.id}"
					type="submit">Delete Task</button>
			</div>
		</div>
	</form>
</body>
</html>