@charset "ISO-8859-1";

.doc-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	background-color: #edf2f7;
	border: 5px groove;
	border-color: gray;
	padding: 20px;
	width: 60%;
	min-width: 630px;
}

.doc-details-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	background-color: #edf2f7;
	padding: 20px;
	min-width: 400px;
}

.doc-middle-container {
	position: relative;
	background-color: #dae4f1;
	margin: auto;
	width: 100%;
	border-top: 1px solid #00004d;
	border-bottom: 1px solid #00004d;
	padding: 5px;
}

.doc-info-container {
	display: inline-block;
    vertical-align: top;
    width: 100%;
}

.doc-info {
	display: inline-block;
    vertical-align: top;
    width: 49%;
}

.doc-index-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	padding: 20px;
	min-width: 400px;
}

.doc-program-container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.doc-file-container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.doc-area-container {
	text-align: center;
}

.document-file {
	display: inline-block;
	vertical-align:top;
	width: 100%;
}

.document-description {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	overflow-x: auto;
}

.document-title {
	border-bottom: 1px solid #bfbfbf;
}

.document-date {
	font-weight: bold;
	float: right;
}

table {
	width: 100%
}

th, td {
	padding: 5px;
	border-bottom: 1px solid #00004d;
}