@charset "ISO-8859-1";

.doc-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	background-color: #edf2f7;
	border: 5px groove;
	border-color: gray;
	padding: 20px;
	width: 60%;
	min-width: 630px;
}

.doc-details-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	background-color: #edf2f7;
	padding: 20px;
	min-width: 400px;
}

.doc-middle-container {
	position: relative;
	margin: auto;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
}

.doc-index-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	padding: 20px;
	min-width: 400px;
}

.doc-program-container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.doc-file-container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.doc-area-container {
	text-align: center;
}

table {
	width: 100%
}

th, td {
	padding: 5px;
	border-bottom: 1px solid #00004d;
}