@charset "ISO-8859-1";

body {
	overflow-y: hidden;
}

.review-container {
	display: inline-block;
	min-width: 901px;
	width: 100%;
	height: 100%;
	padding: 5px;
	display: flex;
	justify-content: center;
	margin: auto;
}

.recent-container {
	float: left;
	width: 30%;
	height: 82%;
	margin: 10px;
	background-color: #edf2f7;
	border: 2px solid #00004d;
	min-width: 350px;
	overflow-x: hidden;
    overflow-y: visible;
}

	.recent-title {
		background-color: #00004d;
		color: white;
		font-weight: bold;
		vertical-align: middle;
		width: 100%;
		padding: 5px;
	}
	
	.recent-document {
		background-color: #e8f1fd;
		border-top: 3px solid #00004d;
		padding: 5px 2px 2px 2px;
	}

.middle-container {
	float: left;
	margin-left: 10px;
}

.review-middle-container {
	background-color: #dae4f1;
	margin: auto;
	width: 100%;
	min-width: 50px;
	border-top: 1px solid #00004d;
	padding: 5px;
}

.search-container {
	float: left;
	width: 64%;
	margin: 10px;
	min-width: 500px;
	height: 82%;
	background-color: #edf2f7;
	border: 2px solid #00004d;
	padding: 5px;
}