@charset "ISO-8859-1";

.task-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	background-color: #edf2f7;
	border: 5px groove;
	border-color: gray;
	padding: 20px;
	width: 60%;
	min-width: 630px;
}

.task-details-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	background-color: #edf2f7;
	padding: 20px;
	min-width: 400px;
}

.task-middle-container {
	position: relative;
	/*background-color: #ecf2f9;*/
	margin: auto;
	width: 100%;
	border-bottom: 1px solid black;
	padding: 5px;
}

.task-index-container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	padding: 20px;
	min-width: 400px;
}

.task-program-container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.task-file-container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.task-area-container {
	text-align: center;
}

.task-details {
	width: 100%;
}

.task-title {
	border-bottom: 1px solid #bfbfbf;
}

.task-assignees {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}


.task-programs {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.task-outcome {
	display: inline-block;
	vertical-align:top;
	width: 49%;
}

.task-description {
	display: inline-block;
	vertical-align:top;
	width: 49%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

textarea {
	width: 60%;
	min-width: 300px;
}

th, td {
	padding: 5px;
	border-bottom: 1px solid #00004d;
}

.view th {
	background-color: #00004d;
	color: white;
}

.view td { 
	background-color: #edf2f7;
}

.option {
	display: inline-block;
	padding-right: 5px;
}

.create:last-child {
	text-align: right
}