@charset "ISO-8859-1";

div.container {
	position: relative;
	margin: auto;
	vertical-align: middle;
	background-color: #e6f2ff;
	border: 5px groove;
	padding: 20px;
	border-color: gray;
	width: 60%;
	min-width: 400px;
}

div.area-container {
	text-align: center;
}

div.title-container {
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

button.submit {
	color: black;
    background-color: #c2c2d6;
    border-color: #a3a3c2;
    border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
}

button.add {
	color: black;
    background-color: #c2c2d6;
    border-color: #a3a3c2;
    border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
}

button.remove {
	color: black;
    background-color: #c2c2d6;
    border-color: #a3a3c2;
    border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
}

textarea {
	width: 60%;
	min-width: 300px;
}

th, td {
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid #00004d;
}

.view th {
	background-color: #00004d;
	color: white;
}

.view td { 
	background-color: #e9f0fc
}

.create:last-child {
	text-align: right
}