<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/css/home.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body layout:fragment="content">
	<div class="parent-div">
		<div class="left-div">Student Objectives</div>
		<div class="middle-div"></div>
		<div class="right-div">Improvement Goals</div>
	</div>
</body>
</html>