<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link href="/css/docs.css" rel="stylesheet" />
<link href="/css/review.css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/review.js}" /></script>
<meta charset="ISO-8859-1">
<title>Review Documentation</title>
</head>
<body layout:fragment="content">
	<div class="review-container">
		<div class="recent-container">
			<div class="recent-title">Recent Submissions</div>
			<div class="recent-document" th:each="document : ${documents}">
				<form name="doc" th:action="@{/doc/details}">
					<!-- <div class="click" onClick="document.forms['doc'].submit();"> -->
						<div class="task-title">
							<div class="task-title-main">
								<div>
									<div class="inline">
										<h6>Title:</h6>
									</div>
									<div class="inline" th:text="${document.title}">Title</div>
									<div class="inline document-date"
										th:text="${document.getFormattedDate}"></div>
								</div>
								<div>
									<div class="inline">
										<h6>Submitted by:</h6>
									</div>
									<div class="inline">
										<div th:text="${document.author}">author</div>
									</div>
								</div>
							</div>
						</div>
						<div class="review-middle-container">
							<div class="doc-info-container">
								<div class="doc-info">
									<div class="title">
										<h6>Program(s):</h6>
									</div>
									<div th:each="program : *{document.programs}">
										<p th:text="${program.name}"></p>
									</div>
								</div>
								<div class="doc-info">
									<div class="title">
										<h6>Submitted for a Task:</h6>
									</div>
									<div th:if="${document.taskId == 0}">Yes</div>
									<div th:if="${document.taskId ne 0}">No</div>
								</div>
							</div>
						</div>
						<div class="review-middle-container">
							<div class="doc-info-container">
								<div class="title">
									<h6>Description:</h6>
								</div>
								<div th:text="${document.description}">description</div>
							</div>
						</div>
						<button class="document-details-button" name="id" th:value="${document.id}"
							type="submit">
							 See more
						</button>
						<br>
					<!--  </div> -->
				</form>
			</div>
		</div>
		<div class="middle-container"></div>
		<div class="search-container">
			<form action="#" th:action="@{/doc/search}"
				th:object="${documentSearch}" method="post">
				<h6>Search Documentation</h6>
				<div class="inline center">
					<label>Due Date:</label> <input type="date" th:field="*{date}" />
				</div>
				<div id="list1" class="dropdown-check-list center" tabindex="100">
					<div id="anchor" class="anchor" onClick="showItems()">Select
						Fruits</div>
					<ul id="items" class="items">
						<li><input type="checkbox" />Apple</li>
						<li><input type="checkbox" />Orange</li>
						<li><input type="checkbox" />Grapes</li>
						<li><input type="checkbox" />Berry</li>
						<li><input type="checkbox" />Mango</li>
						<li><input type="checkbox" />Banana</li>
						<li><input type="checkbox" />Tomato</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</body>
</html>